[Unit]
Description=Telegram bot 'ECHO BOT'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/olegh/echo-bot/echo-bot
ExecStart=/usr/bin/python3 /home/olegh/echo-bot/echo-bot/main.py
RestartSec=5
Restart=always
 
[Install]
WantedBy=multi-user.target